@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro"), url("https://cdn.love2.io/static/app/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Light"), url("https://cdn.love2.io/static/app/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro Semibold"), url("https://cdn.love2.io/static/app/fonts/Source_Sans_Pro/SourceSansPro-Semibold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto Mono"), url("https://cdn.love2.io/static/app/fonts/Roboto_Mono/RobotoMono-Regular.ttf");
}
@font-face {
  font-family: "Dosis";
  src: local("Dosis Medium"), url("https://cdn.love2.io/static/app/fonts/Dosis/Dosis-Medium.ttf");
  font-weight: 500;
}


body {
  font-size: .15rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #34495e;
  background-color: #fff;
  margin: 0;
}

h1, h2, h3, h4, strong {
  font-weight: 600;
  color: #2c3e50;
}

p {
  word-spacing: 0.008rem;
}

.content {
  display: inline-block;
  width: 7.7rem;
  padding-top: .4rem;
  padding-bottom: 1.2rem;
  font-size: .16rem;
  height: 100%;
}

.content h1 {
  margin: .3rem 0 0;
}

.content h1:first-child {
  margin: 0 0 .32rem;
}

.content h2 {
  margin: .45rem 0 0.18rem;
  padding-bottom: 0.16rem;
  border-bottom: 1px solid #ddd;
  z-index: -1;
}

.content h3 {
    margin: .52rem 0 .192rem;
    position: relative;
}

.content a {
  color: #42b983;
  font-weight: 400;
}

.content p, .content ul, .content ol {
  line-height: .256rem;
  margin: .192rem 0 -.192rem;
  margin-bottom: .192rem;
  position: relative;
  z-index: 1;
}

.content blockquote p {
  margin: 0;
  padding-bottom: 0;
}

.content ul,
.content ol {
  padding-left: .24rem;
  list-style-type: disc;
}

.content pre {
  margin: .17rem 0;
  overflow-x: auto;
  position: relative;
  padding: .3rem .27rem;
  background-color: #f8f8f8;
  line-height: .225rem;
  border-radius: .02rem;
  font-family: "Roboto Mono", Monaco, courier, monospace;
}

.content pre code {
  font-size: .12rem;
  background-color: #f8f8f8;
  -webkit-font-smoothing: initial;
  font-family: "Roboto Mono", Monaco, courier, monospace;
}

.content pre code:after {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  text-align: right;
  font-size: .12rem;
  padding: .05rem .1rem 0;
  line-height: .15rem;
  height: .15rem;
  font-weight: 600;
  display: inline-block;
  -webkit-transform: scale(0.8);
  content: attr(class);
}

.content img {
  max-width: 100%;
}

.content blockquote {
  margin: .32rem 0;
  padding-left: .2rem;
  border-left: .04rem solid #42b983;
  color: #858585;
}

.content blockquote p {
  font-weight: 600;
  margin-left: 0;
}

.content iframe {
  margin: .16rem 0;
}

.content > table {
  border: .02rem solid white;
  margin: .192rem auto;
  padding: .16rem;
}

.content > table td,
.content > table th {
  line-height: .256rem;
  padding: .08rem .224rem;
  border: none;
}

.content > table td {
  background-color: #fcfcfc;
}

.content > table th {
  background-color: #42b983;
  color: #fff;
  padding-top: .136rem;
  padding-bottom: .136rem;
  text-align: left;
}

.content > table tbody code {
  background-color: #efefef;
}

.content p.tip {
  padding: .12rem .24rem .12rem .3rem;
  margin: .32rem 0;
  border-left: .04rem solid #f66;
  background-color: #f8f8f8;
  position: relative;
  border-bottom-right-radius: .02rem;
  border-top-right-radius: .02rem;
}

.content p.tip:before {
  position: absolute;
  top: .14rem;
  left: -.12rem;
  background-color: #f66;
  color: #fff;
  content: "!";
  width: .2rem;
  height: .2rem;
  border-radius: 100%;
  text-align: center;
  line-height: .2rem;
  font-weight: bold;
  font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: .14rem;
}

.content p.tip code {
  background-color: #efefef;
}

.content p.tip em {
  color: #34495e;
}

.index {
  width: 2.45rem;
  padding-top: 0;
  padding-bottom: .4rem;
  padding-left: .1rem;
  padding-right: .1rem;
  position: absolute;
  left: -2.45rem;
  top: .95rem;
  border-right: 1px solid #eceef1;
  height: calc(100% - .45rem);
  height: -moz-calc(100% - .45rem);
  height: -webkit-calc(100% - .45rem);
  overflow: auto;
}

.sidebarVisible {
  left: 0;
}

.index h1 {
  display: none;
}

h1, h2 {
  font-family: "Open Sans", "Lato", "Helvetica Neue", "Arial", serif;
}

.hljs-comment, .hljs-quote {
    font-style: normal !important;
}

.katex-display {
  position: relative;
}

.katex-display .katex .eqno {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  line-height: 0;
}

/*娴忚鍣ㄧ殑鍙鍖哄煙灏忎簬845px*/
@media screen and (max-width: 845px) {
  .content pre {
    padding: .15rem .135rem;
  }
}
